.cart-container {
  padding: 20px;
}
.cart-footer{
  display: flex;
  justify-content: center;
}
.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.cart-item-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
  border-radius: 1rem;
}

button {
  padding: 10px 15px;
  margin-top: 10px;
  cursor: pointer;
}

.remove-button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-right: 10px;
}

.checkout-button {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 15px;
  margin-top: 20px;
}

.clear-cart-button {
  background-color: gray;
  color: white;
  border: none;
  padding: 10px 15px;
  margin-top: 10px;
}
.quantity-input {
  width: 60px; /* Adjusted width for better fit */
  padding: 5px;
  font-size: 14px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-left: 10px;
}

.quantity-input:focus {
  outline: none;
  border-color: #4CAF50;
}

.cart-item-details p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  margin: 0;
}

.cart-item-details .quantity-wrapper {
  display: flex;
  align-items: center;
}