.login {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    width: 100%;
    height: auto; 
    margin-top: 7.8125rem; 
  }
  
  .login__logo {
    height: 34.25rem; 
    width: 31.25rem;  
    border-radius: 1.25rem; 
    object-fit: cover;
  }
  
  .login__page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .login__content {
    background-color: rgba(20, 39, 74, 0.5);
    border-radius: 1.25rem; 
    height: 31.25rem; 
    width: 31.25rem; 
    padding: 1.875rem; 
    background-color: white;
    color: black;
    text-align: center;
  }
  
  .login__input {
    width: calc(100% - 3.75rem);
    padding: 0.625rem; 
    margin-bottom: 1.25rem;
    border-radius: 0.3125rem;
    border: 0.0625rem solid #ccc; 
    font-size: 1rem;
    display: block;
    margin: 0.625rem auto;
  }
  
  .login p {
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 0.9rem;
  }
  
  .login a {
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 0.0125rem; 
    text-decoration: wavy;
  }
  
  .login__forgot-txt {
    position: relative;
    font-size: 0.8rem;
    margin-bottom: 1rem;
    left: 11rem; 
    text-decoration: none;
  }
  
  .login__btn {
    border-radius: 0.3125rem; 
    width: 10.9375rem;
    padding: 0.625rem; 
    background-color: #14addf;
    color: white;
    border: none;
    font-size: 1rem; 
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login__btn:hover {
    background-color: blue;
    color: white;
  }
  
  
  @media (min-width: 768px) and (max-width: 1024px) {
  
    .login {
      margin-top: 6.25rem; 
      padding: 1.25rem;
      height: auto;
    }
  
    .login__logo {
      width: 70%; 
      height: auto; 
      max-width: 25rem; 
      border-radius: 1.25rem; 
    }
  
    .login__content {
      width: 80%; 
      max-width: 25rem; 
      padding: 1.75rem; 
      border-radius: 1rem; 
    }
  
    .login__input {
      width: calc(100% - 2.5rem); 
      padding: 0.6rem; 
    }
  
    .login p {
      font-size: 0.85rem; 
    }
  
    .login__forgot-txt {
      left: 0;
      font-size: 0.8rem;
    }
  
    .login__btn {
      width: 12rem;
      padding: 0.75rem; 
      font-size: 0.9rem; 
    }
  }
  