.register {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    width: 100%;
    margin-top: 7.8125rem; 
  }
  .register a{
    text-decoration: none;
  }
  
  .register__logo {
    height: 31.25rem;
    width: 25rem; 
    border-radius: 1.25rem; 
    object-fit: cover;
  }
  
  .register__page {
    display: flex;
    align-items: center;
    height: 31.25rem; 
    width: auto;
  }
  
  .Register__content {
    background-color: rgba(20, 39, 74, 0.5);
    border-radius: 1.25rem; 
    height: 31.25rem; 
    width: 31.25rem;
    padding: 1.875rem; 
    background-color: white;
    color: black;
    text-align: center;
  }
  
  .register__input {
    width: calc(100% - 3.75rem);
    padding: 0.625rem; 
    margin-bottom: 1.25rem; 
    border-radius: 0.3125rem; 
    border: 0.0625rem solid #ccc; 
    font-size: 1rem;
    display: block;
    margin: 0.625rem auto; 
  }
  
  .Register__btn {
    border-radius: 0.3125rem; 
    width: 10.9375rem;
    padding: 0.625rem; 
    background-color: #14addf;
    color: white;
    border: none;
    font-size: 1rem; 
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .register p {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.9rem;
    text-decoration: none;
  }
  
  
  .Register__btn:hover {
    background-color: blue;
    color: white;
  }
  
  
  @media (max-width: 37.5rem) { 
    .register {
      margin-top: 3.125rem;
      padding: 1.25rem; 
    }
  
    .register__logo {
      height: 18.75rem;
      width: 15.625rem; 
    }
  
    .register__page {
      flex-direction: column;
      height: auto; 
    }
  
    .Register__content {
      width: 90%; 
      height: auto;
      padding: 1.25rem; 
    }
  
    .register__input {
      width: calc(100% - 2.5rem); 
      font-size: 0.875rem; 
    }
  
    .Register__btn {
      width: 100%; 
      padding: 0.625rem; 
    }
  
    .register p {
      font-size: 0.875rem;
    }
  }
  .loading-container {
    display: grid;
    place-items: center; 
    height: 100vh; 
  }
  
  
  @media (min-width: 37.563rem) and (max-width: 56.25rem) {
    .register {
      margin-top: 6.25rem; 
      padding: 1.5rem; 
    }
  
    .register__logo {
      height: 25rem; 
      width: 20rem; 
    }
  
    .register__page {
      flex-direction: column;
      height: auto;
    }
  
    .Register__content {
      width: 80%; 
      padding: 1.5rem; 
    }
  
    .register__input {
      width: calc(100% - 3.125rem);
      font-size: 1rem; 
    }
  
    .Register__btn {
      width: 80%; 
      padding: 0.75rem; 
    }
  
    .register p {
      font-size: 1rem; 
    }
  }
  